<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%=site_title%></title>

  <!-- PRODUCTION READY -->
  <!-- JS -->
  <!-- To deploy in production (all JS in one file) -->
  <!--script type="text/javascript" src="/assets/js/require.min.js"></script>
  <script type="text/javascript" src="/assets/js/built.js"></script-->
  <!-- To work in development (for debug) -->
  <script type="text/javascript" src="/assets/js/require_config.js"></script>
  <script type="text/javascript" src="/assets/js/require.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/100-theme-pink.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/css/101-jquery-ui.theme.css" />
  <link rel="stylesheet" href="/css/102-style.css" />
  <link rel="stylesheet" href="/css/103-animate.css" />
  <link rel="stylesheet" href="/css/104-icons.css" />
  <!--link type="text/css" rel="stylesheet" href="/css/style-public.css"-->
  <!-- /PRODUCTION READY -->  
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <!-- TODO checkout howto integrate font awesome -->
  <!--script src="https://use.fontawesome.com/e808bf9397.js"></script-->

  <!-- Head Libs -->
  <!--script src="assets/plugins/modernizr.custom.js"></script-->

  <!--[if lt IE 9]>
  <script src="assets/plugins/iesupport/html5shiv.js"></script>
  <script src="assets/plugins/iesupport/respond.min.js"></script>
  <![endif]-->
</head>

  <body class="home">
    <!-- Preloader -->
    <div class="preloader">
      <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG"></div>
        <div id="followingBallsG_2" class="followingBallsG"></div>
        <div id="followingBallsG_3" class="followingBallsG"></div>
        <div id="followingBallsG_4" class="followingBallsG"></div>
      </div>
    </div>
    <!-- //Preloader -->
    
    <!-- Header -->
    <header class="header" role="banner">
      <div class="wrap">
        <!-- Logo -->
        <div class="logo">
          <a href="index.html" title="Transfers"><img src="/images/transfers.jpg" alt="Transfers" /></a>
        </div>
        <!-- //Logo -->
        
        <!-- Main Nav -->
        <nav role="navigation" class="main-nav">
          <ul>
            <li class="active"><a href="index.html" title="">Home</a></li>
            <li><a href="destinations.html" title="Destinations">Destinations</a>
              <ul>
                <li><a href="destination-single.html" title="Single destination">Single destination</a></li>
                <li><a href="destination-micro.html" title="Micro destination">Micro destination</a></li>
              </ul>
            </li>
            <li><a href="tailor-made.html" title="Tailor made">Tailor made</a></li>
            <li><a href="blog.html" title="Blog">Blog</a>
              <ul>
                <li><a href="blog.html" title="Post">Blog list</a></li>
                <li><a href="blog2.html" title="Post">Blog grid</a></li>
                <li><a href="blog-single.html" title="Post">Post</a></li>
              </ul>
            </li>
            <li><a href="contact.html" title="Contact">Contact</a></li>
            <li><a href="#" title="Pages">Pages</a>
              <div>
                <div class="one-fourth">
                  <h2>Common</h2>
                  <ul>
                    <li><a href="left-sidebar-page.html" title="Left sidebar page">Left sidebar page</a></li>
                    <li><a href="right-sidebar-page.html" title="Right sidebar page">Right sidebar page</a></li>
                    <li><a href="both-sidebar-page.html" title="Both sidebars page">Both sidebars page</a></li>
                    <li><a href="full-width-page.html" title="Full width page">Full width page</a></li>
                  </ul>
                </div>
                <div class="one-fourth">
                  <h2>Booking</h2>
                  <ul>
                    <li><a href="search-results.html" title="Search results page">Search results page</a></li>
                    <li><a href="booking-step1.html" title="Booking step 1">Booking step 1</a></li>
                    <li><a href="booking-step2.html" title="Booking step 2">Booking step 2</a></li>
                    <li><a href="booking-step3.html" title="Booking step 3">Booking step 3</a></li>
                  </ul>
                </div>
                <div class="one-fourth">
                  <h2>Corporate</h2>
                  <ul>
                    <li><a href="about.html" title="About u">About us</a></li>
                    <li><a href="services.html" title="Services">Services</a></li>
                    <li><a href="faq.html" title="Faq">Faq</a></li>
                    <li><a href="contact.html" title="Contact">Contact</a></li>
                  </ul>
                </div>
                <div class="one-fourth">
                  <h2>Special</h2>
                  <ul>
                    <li><a href="login.html" title="Login">Login</a></li>
                    <li><a href="register.html" title="Register">Register</a></li>
                    <li><a href="account.html" title="My account">My account</a></li>
                    <li><a href="error.html" title="404 error">404 error</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="http://themeforest.net/item/transfers-transport-and-car-hire-html-template/9366018?ref=themeenergy" title="Purchase">Purchase</a></li>
          </ul>
        </nav>
        <!-- //Main Nav -->
      </div>
    </header>
    <!-- //Header -->
  
  <!-- Main -->
  <main class="main" role="main">
    <!-- Intro -->
    <div class="intro">
      <div class="wrap">
        <div class="textwidget">
          <h1 class="wow fadeInDown">Need a ride?</h1>
          <h2 class="wow fadeInUp">You've come to the right place.</h2>
          <div class="actions">
            <a href="#services" title="Our services" class="btn large white wow fadeInLeft anchor">Our services</a>
            <a href="#booking" title="Make a booking" class="btn large color wow fadeInRight anchor">Make a booking</a>
          </div>
        </div>
      </div>
    </div>
    <!-- //Intro -->
    
    <!-- The content in the layout -->
    <%= yield %>
    <!-- //The content in the layout --> 

    
    <!-- Services iconic -->
    <div class="services iconic white">
      <div class="wrap">
        <div class="row">
          <!-- Item -->
          <div class="one-third wow fadeIn">
            <span class="circle"><span class="icon  icon-themeenergy_savings"></span></span>
            <h3>Fixed rates</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
          
          <!-- Item -->
          <div class="one-third wow fadeIn" data-wow-delay=".2s">
            <span class="circle"><span class="icon icon-themeenergy_lockpad"></span></span>
            <h3>Reliable transfers</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
          
          <!-- Item -->
          <div class="one-third wow fadeIn" data-wow-delay=".4s">
            <span class="circle"><span class="icon icon-themeenergy_open-wallet"></span></span>
            <h3>No booking fees</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
          
          <!-- Item -->
          <div class="one-third wow fadeIn">
            <span class="circle"><span class="icon icon-themeenergy_heart"></span></span>
            <h3>Free cancellation</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
          
          <!-- Item -->
          <div class="one-third wow fadeIn" data-wow-delay=".2s">
            <span class="circle"><span class="icon icon-themeenergy_magic-trick"></span></span>
            <h3>Booking flexibility</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
          
          <!-- Item -->
          <div class="one-third wow fadeIn" data-wow-delay=".4s">
            <span class="circle"><span class="icon icon-themeenergy_call"></span></span>
            <h3>24h customer service</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
          
          <!-- Item -->
          <div class="one-third wow fadeIn">
            <span class="circle"><span class="icon icon-themeenergy_cup"></span></span>
            <h3>Award winning service</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
          
          <!-- Item -->
          <div class="one-third wow fadeIn" data-wow-delay=".2s">
            <span class="circle"><span class="icon icon-themeenergy_attach"></span></span>
            <h3>Benefits for partners</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
          
          <!-- Item -->
          <div class="one-third wow fadeIn" data-wow-delay=".4s">
            <span class="circle"><span class="icon icon-themeenergy_stars"></span></span>
            <h3>Quality vehicles</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
          </div>
          <!-- //Item -->
        </div>
      </div>
    </div>
    <!-- //Services iconic -->
    
    <!-- Call to action -->
    <div class="black cta">
      <div class="wrap">
        <p class="wow fadeInLeft">Like what you see? Are you ready to stand out? You know what to do.</p>
        <a href="http://themeforest.net/item/transfers-transport-and-car-hire-html-template/9366018?ref=themeenergy" class="btn huge color right wow fadeInRight">Purchase theme</a>
      </div>
    </div>
    <!-- //Call to action -->
    
    <!-- Services -->
    <div class="services boxed white" id="services">
      <!-- Item -->
      <article class="one-fourth wow fadeIn">
        <figure class="featured-image">
          <img src="/images/uploads/img2.jpg" alt="" />
          <div class="overlay">
            <a href="services.html" class="expand">+</a>
          </div>
        </figure>
        <div class="details">
          <h4><a href="services.html">Private transfers</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <a class="more" title="Read more" href="services.html">Read more</a>
        </div>
      </article>
      <!-- //Item -->
      
      <!-- Item -->
      <article class="one-fourth wow fadeIn" data-wow-delay=".2s">
        <figure class="featured-image">
          <img src="/images/uploads/img2.jpg" alt="" />
          <div class="overlay">
            <a href="services.html" class="expand">+</a>
          </div>
        </figure>
        <div class="details">
          <h4><a href="services.html">Bus transfers</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <a class="more" title="Read more" href="services.html">Read more</a>
        </div>
      </article>
      <!-- //Item -->
      
      <!-- Item -->
      <article class="one-fourth wow fadeIn" data-wow-delay=".4s">
        <figure class="featured-image">
          <img src="/images/uploads/img2.jpg" alt="" />
          <div class="overlay">
            <a href="services.html" class="expand">+</a>
          </div>
        </figure>
        <div class="details">
          <h4><a href="services.html">Shuttle transfers</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <a class="more" title="Read more" href="services.html">Read more</a>
        </div>
      </article>
      <!-- //Item -->
      
      <!-- Item -->
      <article class="one-fourth wow fadeIn" data-wow-delay=".6s">
        <figure class="featured-image">
          <img src="/images/uploads/img2.jpg" alt="" />
          <div class="overlay">
            <a href="services.html" class="expand">+</a>
          </div>
        </figure>
        <div class="details">
          <h4><a href="services.html">Helicopter transfers</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <a class="more" title="Read more" href="services.html">Read more</a>
        </div>
      </article>
      <!-- //Item -->     
    </div>
    <!-- //Services -->
    
    <!-- Testimonials -->
    <div class="testimonials center black">
      <div class="wrap">
        <h6 class="wow fadeInDown"><i class="fa fa-quote-left"></i>Wow, this theme is outstanding!</h6>
        <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <p class="meta wow fadeInUp">-John Doe, themeforest</p>
      </div>
    </div>
    <!-- //Testimonials -->
    
    <div class="partners white center">
      <div class="wrap">
        <h2 class="wow fadeIn">Our partners</h2>
        <div class="one-fifth wow fadeIn"><a href="#"><img src="/images/uploads/logo1.jpg" alt="" /></a></div>
        <div class="one-fifth wow fadeIn" data-wow-delay=".2s"><a href="#"><img src="/images/uploads/logo2.jpg" alt="" /></a></div>
        <div class="one-fifth wow fadeIn" data-wow-delay=".4s"><a href="#"><img src="/images/uploads/logo3.jpg" alt="" /></a></div>
        <div class="one-fifth wow fadeIn" data-wow-delay=".6s"><a href="#"><img src="/images/uploads/logo4.jpg" alt="" /></a></div>
        <div class="one-fifth" data-wow-delay=".8s"><a href="#"><img src="/images/uploads/logo5.jpg" alt="" /></a></div>
      </div>
    </div>
    
    
    <!-- Call to action -->
    <div class="color cta">
      <div class="wrap">
        <p class="wow fadeInLeft">Like what you see? Are you ready to stand out? You know what to do.</p>
        <a href="http://themeforest.net/item/transfers-transport-and-car-hire-html-template/9366018?ref=themeenergy" class="btn huge black right wow fadeInRight">Purchase theme</a>
      </div>
    </div>
    <!-- //Call to action -->
  </main>
  <!-- //Main -->
  
  <!-- Footer -->
  <footer class="footer black" role="contentinfo">
    <div class="wrap">
      <div class="row">
        <!-- Column -->
        <article class="one-half">
          <h6>About us</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
        </article>
        <!-- //Column -->
        
        <!-- Column -->
        <article class="one-fourth">
          <h6>Need help?</h6>
          <p>Contact us via phone or email:</p>
          <p class="contact-data"><span class="icon icon-themeenergy_call"></span> +1 555 555 555</p>
          <p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a href="mailto:help@transfers.com">help@transfers.com</a></p>
        </article>
        <!-- //Column -->
        
        <!-- Column -->
        <article class="one-fourth">
          <h6>Follow us</h6>
          <ul class="social">
            <li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
            <li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
            <li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
            <li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
            <li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
            <li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
          </ul>
        </article>
        <!-- //Column -->
      </div>
      
      <div class="copy">
        <p>Copyright 2016, Themeenergy. All rights reserved. </p>
        
        <nav role="navigation" class="foot-nav">
          <ul>
            <li><a href="#" title="Home">Home</a></li>
            <li><a href="#" title="Blog">Blog</a></li>
            <li><a href="#" title="About us">About us</a></li>
            <li><a href="#" title="Contact us">Contact us</a></li>
            <li><a href="#" title="Terms of use">Terms of use</a></li>
            <li><a href="#" title="Help">Help</a></li>
            <li><a href="#" title="For partners">For partners</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  <!-- //Footer -->
  
  <!-- JS Page Level -->
  <script src="/js/theme.js"></script>
  <% if !page.scripts_source.nil? && !page.scripts_source.empty? %>
    <%= page.scripts_source %>
  <% end %>
  </body>
</html>






