<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%=site_title%></title>

  <!-- PRODUCTION READY -->
  <!-- JS -->
  <!-- To deploy in production (all JS in one file) -->
  <!--script type="text/javascript" src="/assets/js/require.min.js"></script>
  <script type="text/javascript" src="/assets/js/built.js"></script-->
  <!-- To work in development (for debug) -->
  <script type="text/javascript" src="/assets/js/require_config.js"></script>
  <script type="text/javascript" src="/assets/js/require.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/100-theme-pink.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/css/101-jquery-ui.theme.css" />
  <link rel="stylesheet" href="/css/102-style.css" />
  <link rel="stylesheet" href="/css/103-animate.css" />
  <link rel="stylesheet" href="/css/104-icons.css" />
  <link rel="stylesheet" href="/css/105-custom.css" />
  <!--link type="text/css" rel="stylesheet" href="/css/style-public.css"-->
  <!-- /PRODUCTION READY -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <!-- TODO checkout howto integrate font awesome -->
  <!--script src="https://use.fontawesome.com/e808bf9397.js"></script-->

  <!-- Head Libs -->
  <!--script src="assets/plugins/modernizr.custom.js"></script-->

  <!--[if lt IE 9]>
  <script src="assets/plugins/iesupport/html5shiv.js"></script>
  <script src="assets/plugins/iesupport/respond.min.js"></script>
  <![endif]-->
</head>

<body <% if request.path == '/' %>class="home"<%end%>>
<!-- Preloader -->
<div class="preloader">
  <div id="followingBallsG">
    <div id="followingBallsG_1" class="followingBallsG"></div>
    <div id="followingBallsG_2" class="followingBallsG"></div>
    <div id="followingBallsG_3" class="followingBallsG"></div>
    <div id="followingBallsG_4" class="followingBallsG"></div>
  </div>
</div>
<!-- //Preloader -->

<!-- Header -->
<header class="header" role="banner">
  <div class="wrap">
    <!-- Logo -->
    <div class="logo">
      <a href="/" title="Inicio"><img src="/images/transfers.jpg" alt="Inicio" /></a>
    </div>
    <!-- //Logo -->

    <!-- Main Nav -->
    <nav role="navigation" class="main-nav">
      <ul>
        <li class="active"><a href="/" title="">Inicio</a></li>
        <li><a href="/condiciones" title="Condiciones de alquiler">Condiciones</a></li>
        <li><a href="/contacto" title="Contacto">Contacto</a></li>
      </ul>
    </nav>
    <!-- //Main Nav -->
  </div>
</header>
<!-- //Header -->

<!-- Main -->
<main class="main" role="main">
  <!-- Intro -->
  <div class="intro">
    <div class="wrap">
      <div class="textwidget">
        <h1 class="wow fadeInDown">¿Necesita un coche de alquiler?</h1>
        <h2 class="wow fadeInUp"Está en el lugar correcto.</h2>
        <div class="actions">
          <a href="#services" title="Our services" class="btn large white wow fadeInLeft anchor">Servicios</a>
          <a href="#booking" title="Make a booking" class="btn large color wow fadeInRight anchor">Reservar</a>
        </div>
      </div>
    </div>
  </div>
  <!-- //Intro -->

  <!-- The content in the layout -->
  <%= yield %>
  <!-- //The content in the layout -->


  <!-- Services iconic -->
  <div class="services iconic white">
    <div class="wrap">
      <div class="row">
        <!-- Item -->
        <div class="one-third wow fadeIn">
          <span class="circle"><span class="icon  icon-themeenergy_savings"></span></span>
          <h3>Fixed rates</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".2s">
          <span class="circle"><span class="icon icon-themeenergy_lockpad"></span></span>
          <h3>Reliable transfers</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".4s">
          <span class="circle"><span class="icon icon-themeenergy_open-wallet"></span></span>
          <h3>No booking fees</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn">
          <span class="circle"><span class="icon icon-themeenergy_heart"></span></span>
          <h3>Free cancellation</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".2s">
          <span class="circle"><span class="icon icon-themeenergy_magic-trick"></span></span>
          <h3>Booking flexibility</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".4s">
          <span class="circle"><span class="icon icon-themeenergy_call"></span></span>
          <h3>24h customer service</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn">
          <span class="circle"><span class="icon icon-themeenergy_cup"></span></span>
          <h3>Award winning service</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".2s">
          <span class="circle"><span class="icon icon-themeenergy_attach"></span></span>
          <h3>Benefits for partners</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".4s">
          <span class="circle"><span class="icon icon-themeenergy_stars"></span></span>
          <h3>Quality vehicles</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->
      </div>
    </div>
  </div>
  <!-- //Services iconic -->

  <!-- Services -->
  <div class="services boxed white" id="services">
    <!-- Item -->
    <article class="one-fourth wow fadeIn">
      <figure class="featured-image">
        <img src="/images/uploads/img2.jpg" alt="" />
        <div class="overlay">
          <a href="/contacto" class="expand">+</a>
        </div>
      </figure>
      <div class="details">
        <h4><a href="/contacto">Private transfers</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a class="more" title="Read more" href="/contacto">Read more</a>
      </div>
    </article>
    <!-- //Item -->

    <!-- Item -->
    <article class="one-fourth wow fadeIn" data-wow-delay=".2s">
      <figure class="featured-image">
        <img src="/images/uploads/img2.jpg" alt="" />
        <div class="overlay">
          <a href="/contacto" class="expand">+</a>
        </div>
      </figure>
      <div class="details">
        <h4><a href="/contacto">Bus transfers</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a class="more" title="Read more" href="/contacto">Read more</a>
      </div>
    </article>
    <!-- //Item -->

    <!-- Item -->
    <article class="one-fourth wow fadeIn" data-wow-delay=".4s">
      <figure class="featured-image">
        <img src="/images/uploads/img2.jpg" alt="" />
        <div class="overlay">
          <a href="/contacto" class="expand">+</a>
        </div>
      </figure>
      <div class="details">
        <h4><a href="/contacto">Shuttle transfers</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a class="more" title="Read more" href="/contacto">Read more</a>
      </div>
    </article>
    <!-- //Item -->

    <!-- Item -->
    <article class="one-fourth wow fadeIn" data-wow-delay=".6s">
      <figure class="featured-image">
        <img src="/images/uploads/img2.jpg" alt="" />
        <div class="overlay">
          <a href="/contacto" class="expand">+</a>
        </div>
      </figure>
      <div class="details">
        <h4><a href="/contacto">Helicopter transfers</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a class="more" title="Read more" href="/contacto">Read more</a>
      </div>
    </article>
    <!-- //Item -->
  </div>
  <!-- //Services -->

  <!-- Testimonials -->
  <div class="testimonials center black">
    <div class="wrap">
      <h6 class="wow fadeInDown"><i class="fa fa-quote-left"></i>Wow, this theme is outstanding!</h6>
      <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <p class="meta wow fadeInUp">-John Doe, themeforest</p>
    </div>
  </div>
  <!-- //Testimonials -->

  <div class="partners white center">
    <div class="wrap">
      <h2 class="wow fadeIn">Nuestros socios</h2>
      <div class="one-fifth wow fadeIn"><a href="#"><img src="/images/uploads/logo1.jpg" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".2s"><a href="#"><img src="/images/uploads/logo2.jpg" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".4s"><a href="#"><img src="/images/uploads/logo3.jpg" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".6s"><a href="#"><img src="/images/uploads/logo4.jpg" alt="" /></a></div>
      <div class="one-fifth" data-wow-delay=".8s"><a href="#"><img src="/images/uploads/logo5.jpg" alt="" /></a></div>
    </div>
  </div>

</main>
<!-- //Main -->

<!-- Footer -->
<%= partial :footer %>
<!-- //Footer -->

<!-- JS Page Level -->
<script src="/js/theme.js"></script>
<% if !page.scripts_source.nil? && !page.scripts_source.empty? %>
    <%= page.scripts_source %>
<% end %>
</body>
</html>






