        <div class="wrap">
            <div class="row">
                <!--- Content -->
                <div class="full-width content">
                    <h2>Seleccionar producto</h2>
                    
                    <div id="product_listing" class="results">                        
                        
                    </div>
                    
                </div>
                <!--- //Content -->
            </div>
        </div>

        <script type="text/tpml" id="script_detailed_product">

                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="<%%=product.photo%>" alt="" style="min-height:202px"/></div>
                            <div class="one-half heightfix">
                                <h3><%%=product.name%></h3>
                                <ul>
                                    <li>
                                        <p><%%=product.short_description%></p>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price"><%%=new Number(product.price).toFixed(2)%><small>€</small></div>
                                    <a href="booking-step1.html" class="btn grey large">SELECCIONAR</a>
                                </div>
                            </div>
                        </article>
                        <!-- //Item -->

        </script>
